@model IEnumerable<MovilShopStock.Models.StockInModel>

@{
    ViewBag.Title = "Entradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entradas</h2>
@if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
{
    <div class="pull-right">
        <a class="btn btn-success" href="@Url.Action("Create")">Crear Entrada</a>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalShop)
        </th>
        @if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalShop)
            </td>
            @if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>