<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Ventas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @RenderSection("css", required: false)
</head>
<body class="d-flex flex-column h-100">
    <header>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            @Html.ActionLink("Sistema de Ventas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - MovilShop Almacen</p>
        </div>
    </footer>
    <input type="hidden" id="protocol" value="@Session["app_protocol"]" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            if (location.protocol != '@(Session["app_protocol"])') {
                location.href = '@(Session["app_protocol"])' + window.location.href.substring(window.location.protocol.length);
            }
        });
    </script>
</body>
</html>