@if (Request.IsAuthenticated)
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">@Html.ActionLink("Resumen", "Dashboard", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Inventario", "Index", "Stock", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Entradas", "Index", "StockIn", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Salidas", "Index", "StockOut", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Transferencias", "Index", "Transfer", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configuración
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
                {
                    @Html.ActionLink("Categorias", "Index", "Category", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                    @Html.ActionLink("Proveedores", "Index", "Provider", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })

                }
                @Html.ActionLink("Negocios", "Index", "Business", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
            </div>
        </li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <a id="user_money" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Dinero en Posesión"><span class="d-xl-none d-lg-none">Dinero en Posesión</span> ($@{ Html.RenderAction("TotalMoneyUser", "Home"); })</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (ViewBag.BusinessWorking != null)
                    {
                        <span>@ViewBag.BusinessWorking.Name</span>
                    }
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var business in ViewBag.Business)
                    {
                        <a class="dropdown-item" href="/home/setbusiness/@business.Id?returnUrl=@Request.RawUrl">@business.Name</a>
                    }
                </div>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/#characteristics">Características</a></li>
        <li class="nav-item"><a class="nav-link" href="/#prices">Precios</a></li>
    </ul>
    <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item">@Html.ActionLink("Entrar", "Login", "Account", routeValues: new { returnUrl = Request.Url.AbsoluteUri }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}