@{
    ViewBag.Title = "Transferencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transferencias</h2>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-business-tab" data-toggle="tab" href="#nav-business" role="tab" aria-controls="nav-business" aria-selected="true">Negocio</a>
        <a class="nav-item nav-link" id="nav-private-tab" data-toggle="tab" href="#nav-private" role="tab" aria-controls="nav-private" aria-selected="false">Personales</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-business" role="tabpanel" aria-labelledby="nav-business-tab">
        <div class="pull-right btn-editions">
            @if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
            {
                <a class="btn btn-sm btn-success ml-1" href="@Url.Action("CreateBusiness")">Crear Transferencia</a>
            }
        </div>
        <table id="data-table-business" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th class="no-sort">
                    </th>
                    <th>
                        Hacia / Desde
                    </th>
                    <th>
                        Categoría
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Fecha
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-private" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="pull-right btn-editions">
            @if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
            {
                <a class="btn btn-sm btn-success ml-1" href="@Url.Action("CreatePrivate")">Crear Transferencia</a>
            }
        </div>
        <table id="data-table-private" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th class="no-sort">
                    </th>
                    <th>
                        Hacia / Desde
                    </th>
                    <th>
                        Monto
                    </th>
                    <th>
                        Fecha
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@(ViewBag.selectedTab)' != "") {
                $('#'+'@(ViewBag.selectedTab)').tab('show');
            }

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if ('@(ViewBag.selectedTab)' != $(e.target).attr("id")) {
                    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?selectedTab='+$(e.target).attr("id");
                    window.history.pushState({ path: newurl }, '', newurl);
                }
            });

            var table_business = $("#data-table-business").DataTable({
                dom: "lBfrtip",
                buttons: [],
                responsive: !0,
                select: !0,
                fixedHeader: !0,
                ajax: {
                    "url": "/Transfer/BusinessSearch",
                    "type": "POST"
                },
                "processing": true,
                "serverSide": true,
                columns: [
                    {
                        "render": function (data, type, JsonResultRow, meta) {
                            if (!JsonResultRow.Sent) {
                                return '<i class="m-t-5 fa fa-arrow-circle-o-right fa-2x fa-rotate-180 text-success"></i>';
                            }
                            return '<i class="m-t-5 fa fa-arrow-circle-o-right fa-2x text-danger"></i>';
                        }
                    },
                    { data: 'FromTo' },
                    { data: 'Category' },
                    { data: 'ProductName' },
                    { data: 'Quantity' },
                    { data: 'User' },
                    { data: 'Date' }
                ],
                "rowCallback": function (row, data) {
                    /* mainView.contents.push(new dataModel(data));*/
                },
                "iDisplayLength": 10,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "select": {
                        "rows": "%d registros seleccionados"
                    }
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                }],
                "order": [[6, "desc"]]
            });

            var table_private = $("#data-table-private").DataTable({
                dom: "lBfrtip",
                buttons: [],
                responsive: !0,
                select: !0,
                fixedHeader: !0,
                ajax: {
                    "url": "/Transfer/PrivateSearch",
                    "type": "POST"
                },
                "processing": true,
                "serverSide": true,
                columns: [
                    {
                        "render": function (data, type, JsonResultRow, meta) {
                            if (!JsonResultRow.Sent) {
                                return '<i class="m-t-5 fa fa-arrow-circle-o-right fa-2x fa-rotate-180 text-success"></i>';
                            }
                            return '<i class="m-t-5 fa fa-arrow-circle-o-right fa-2x text-danger"></i>';
                        }
                    },
                    { data: 'FromTo' },
                    { data: 'Amount' },
                    { data: 'Date' }
                ],
                "rowCallback": function (row, data) {
                    /* mainView.contents.push(new dataModel(data));*/
                },
                "iDisplayLength": 10,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "select": {
                        "rows": "%d registros seleccionados"
                    }
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                }],
                "order": [[3, "desc"]]
            });
        });
    </script>
}