@model MovilShopStock.Models.DashboardModel
<div class="row">
    <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h6 class="card-title text-uppercase mb-2">
                            Cantidad de Entradas
                        </h6>

                        <!-- Heading -->
                        <span class="h2 mb-0">
                            @Model.InQuantity.Item1
                        </span>

                        <!-- Badge -->
                        <span class="badge badge-soft-success mt-n1">
                            +@Model.InQuantity.Item2.ToString("#,##0.00")%
                        </span>
                    </div>
                    <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fa fa-4x fa-building-o text-muted mb-0"></span>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h6 class="card-title text-uppercase mb-2">
                            Dinero de Entradas
                        </h6>

                        <!-- Heading -->
                        <span class="h2 mb-0">
                            $@Model.InMoney.ToString("#,##0.00")
                        </span>
                    </div>
                    <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fa fa-4x fa-usd text-muted mb-0"></span>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h6 class="card-title text-uppercase mb-2">
                            Cantidad de Salidas
                        </h6>

                        <!-- Heading -->
                        <span class="h2 mb-0">
                            @Model.OutQuantity.Item1
                        </span>

                        <!-- Badge -->
                        <span class="badge badge-soft-success mt-n1">
                            +@Model.OutQuantity.Item2.ToString("#,##0.00")%
                        </span>
                    </div>
                    <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fa fa-4x fa-building-o text-muted mb-0"></span>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h6 class="card-title text-uppercase mb-2">
                            Dinero en Salida
                        </h6>

                        <!-- Heading -->
                        <span class="h2 mb-0">
                            $@Model.OutMoney.ToString("#,##0.00")
                        </span>
                    </div>
                    <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fa fa-4x fa-usd text-muted mb-0"></span>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h6 class="card-title text-uppercase mb-2">
                            Cantidad de Inventario
                        </h6>

                        <!-- Heading -->
                        <span class="h2 mb-0">
                            @Model.StockQuantity.Item1
                        </span>

                        <!-- Badge -->
                        <span class="badge badge-soft-success mt-n1">
                            +@Model.StockQuantity.Item2.ToString("#,##0.00")%
                        </span>
                    </div>
                    <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fa fa-4x fa-building-o text-muted mb-0"></span>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Title -->
                        <h6 class="card-title text-uppercase mb-2">
                            Dinero en Inventario
                        </h6>

                        <!-- Heading -->
                        <span class="h2 mb-0">
                            $@Model.StockMoney.Item1.ToString("#,##0.00")
                        </span>

                        <!-- Badge -->
                        <span class="badge badge-soft-success mt-n1">
                            +@Model.StockMoney.Item2.ToString("#,##0.00")%
                        </span>
                    </div>
                    <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fa fa-4x fa-usd text-muted mb-0"></span>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
{
    <div class="row">
        <div class="col-12 col-lg-4 col-xl">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h6 class="card-title text-uppercase mb-2">
                                Ganancia del Día
                            </h6>

                            <!-- Heading -->
                            <span class="h2 mb-0">
                                $@Model.GainToday.ToString("#,##0.00")
                            </span>
                        </div>
                        <div class="col-auto">

                            <!-- Icon -->
                            <span class="h2 fa fa-4x fa-usd text-muted mb-0"></span>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h6 class="card-title text-uppercase mb-2">
                                Ganancia Mes
                            </h6>

                            <!-- Heading -->
                            <span class="h2 mb-0">
                                $@Model.TotalGain.ToString("#,##0.00")
                            </span>
                        </div>
                        <div class="col-auto">

                            <!-- Icon -->
                            <span class="h2 fa fa-4x fa-usd text-muted mb-0"></span>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h6 class="card-title text-uppercase mb-2">
                                Utilidad Neta
                            </h6>

                            <!-- Heading -->
                            <span class="h2 mb-0">
                                $@Model.NetProfit.ToString("#,##0.00")
                            </span>
                        </div>
                        <div class="col-auto">

                            <!-- Icon -->
                            <span class="h2 fa fa-4x fa-usd text-muted mb-0"></span>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div>
    </div>
}
@if (Model.PendentMoney.Count > 0)
{
    <h4 class="text-center">Dinero por Recoger</h4>
    <div class="row">
        @foreach (var user in Model.PendentMoney)
        {
            <div class="col-12 col-lg-6 col-xl">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Title -->
                                <h6 class="card-title text-uppercase mb-2">
                                    @user.Item1
                                </h6>

                                <!-- Heading -->
                                <span class="h2 mb-0">
                                    $@user.Item2.ToString("#,##0.00")
                                </span>
                            </div>
                            <div class="col-auto">

                                <!-- Icon -->
                                <span class="h2 fa fa-4x fa-user text-muted mb-0"></span>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
{
    <h4 class="text-center">Dinero Personas</h4>
    <div class="row">
        @foreach (var user in Model.UserMoney)
        {
            <div class="col-12 col-lg-6 col-xl">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Title -->
                                <h6 class="card-title text-uppercase mb-2">
                                    @user.Item1
                                </h6>

                                <!-- Heading -->
                                <span class="h2 mb-0">
                                    $@user.Item2.ToString("#,##0.00")
                                </span>
                            </div>
                            <div class="col-auto">

                                <!-- Icon -->
                                <span class="h2 fa fa-4x fa-user text-muted mb-0"></span>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>
        }
    </div>
}

@foreach (var cat in Model.Categories)
{
    <h4 class="text-center">@cat.Item1</h4>
    <div class="row">
        @foreach (var prod in cat.Item2)
        {
            <div class="col-12 col-lg-6 col-xl">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Title -->
                                <h6 class="card-title text-uppercase mb-2">
                                    @prod.Item1
                                </h6>

                                <!-- Heading -->
                                <span class="h2 mb-0">
                                    $@prod.Item2.ToString("#,##0.00")
                                </span>
                            </div>
                            <div class="col-auto">

                                <!-- Icon -->
                                <span class="h2 fa fa-4x fa-mobile text-muted mb-0"></span>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>
        }
    </div>
}